<!DOCTYPE html>
<!--
 Meditation Logger.
 Copyright (C) 2015-2016  Seth Hendrick.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Unit Test: index.cshtml -->
<html>
<head>
    <title>Meditation Enthusiasts Logger</title>
    @Html.Raw( Model.CommonHead )
    <link type="text/css" rel="stylesheet" href="css/pure/pricing.css" />
    <link type="text/css" rel="stylesheet" href="css/pure/two-col.css" />
</head>
<body>
    <div id="layout" class="content pure-g">
        <!-- Start Pure layout -->
        @Html.Raw( Model.NavBar )
        <div id="main" class="pure-u-1">
            <h1>Remote Meditation Logger</h1>

            <div class="info-tables">
                <div class="info-table">
                    <div class="info-table-free">
                        <div class="info-table-header">
                            <h2>Total Minutes:</h2>
                            <span class="info-table-price">
                                @Model.LogBook.TotalTime.ToString( "N2" )
                            </span>
                        </div>
                    </div>
                </div>

                <div class="info-table">
                    <div class="info-table-biz">
                        <div class="info-table-header">
                            <h2>Longest Session:</h2>
                            <span class="info-table-price">
                                @Model.LogBook.LongestTime.ToString( "N2" )
                            </span>
                        </div>
                    </div>
                </div>

                <div class="info-table">
                    <div class="info-table-1">
                        <div class="info-table-header">
                            <h2>Total Sessions:</h2>
                            <span class="info-table-price">
                                @Model.LogBook.Logs.Count
                            </span>
                        </div>
                    </div>
                </div>
                <div class="info-table">
                    <div class="info-table-2">
                        <div class="info-table-header">
                            <h2>Last Session:</h2>
                            <span class="info-table-price">
                                @{
                                    if( Model.LogBook.Logs.Count == 0 )
                                    {
                                        @:Nothing Yet.
                                    }
                                    else
                                    {
                                        @Model.LogBook.Logs[0].StartTime.ToLocalTime().ToString( "MM-dd-yyyy  HH:mm" )
                                    }
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div> <!-- End Tables -->
        </div><!-- End Main -->

    </div> <!-- End Pure Layout -->
</body>

</html>
